p.teaser {
  text-indent: 30px; 
  }

#box_icone_busca{
  width: 30px;
  height: 30px;
  padding: 10px;
  position: relative;
  left: -39px;
  top: 1px;
}
#icone_busca {
  color: #000;
  cursor: pointer;
}

input{
  padding: 2px;
  width: 140px;
  color: #0d7d1e;
}

#cpfcnpj::-moz-selection{
  background:#FFF;
  color:#000;
}
.botao2{
  /*! padding: 6px; */
  background-color: rgb(0, 204, 255);
}


}
#cpfcnpj::selection {
  background:#FFF;
  color:#000;
}

.botao{padding: 20px;}

#form_search{/*! padding: 5px; */margin-bottom: 5px;}

