p.teaser {
  text-indent: 30px; 
  }

#box_icone_busca{
  width: 30px;
  height: 30px;
  padding: 10px;
  position: relative;
  left: -39px;
  top: 1px;
}
#icone_busca {
  color: #000;
  cursor: pointer;
}

input{
  padding: 10px;
  width: 250px;
  color: #000;
}

#cpfcnpj::-moz-selection{
  background:#FFF;
  color:#000;


}
#cpfcnpj::selection {
  background:#FFF;
  color:#000;
}

.botao{padding: 20px;}

